header {
    text-align: center;
    font-size: 55px;

}

.main-container {
    background-color: rgb(93, 107, 121);
    border: solid 2px;
    margin: 12px;
    border-radius: 12px;
    line-height: 0.6;
}

label {
    font-size: 20px;
}

input[type="text"],
input[type="email"],
.main-container button,
input[type="password"] {
    margin: 12px;
    border: solid rgb(163, 83, 99) 2px;
    font-size: 22px;
    transition: 0.2 ease;
}

input[type="text"],
input[type="email"],
.main-container button ,
input[type="password"]:hover {
    cursor: pointer;
}

.main-container button:hover {
    transform: scale(1.21);
}

input[type="text"],
input[type="email"],
.main-container button ,
input[type="password"] :hover {
    box-shadow: 0px 4px 8px blue
}