h1 {
    text-align: center;
    border: 3px solid bisque; 
    padding: 6px;
    border-radius: 75px;
    letter-spacing: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

th {
    text-align: center;
    padding: 4px;
    color: solid navy;
}

th, td {
    border: 4px solid gray;
    border-radius: 13px;
    background-color: solid lightgray;
    border-collapse: collapse;
}

table {
    border: 5px solid black;
    border-radius: 11px;
}
td:hover a {
    color: green;
    transition: color 0.5s;
    text-decoration: line-through;
}

a:visited {
    color: red;
}


#the-warriors {
    width: 450px;
    height: auto;
    border-radius: 34px;
    transition: 0.2s;
}

#the-warriors:hover {
    border: solid red;
    
}

#kobe {
    width:800px;
    height: auto;
    border-radius: 34px;
    border: 5px solid transparent;
}
@keyframes flashBorder {
    0% { border-color: purple; }
    50% { border-color: gold; }
    100% { border-color: purple; }
}

#kobe:hover {
    animation: flashBorder 1s infinite
}

#skyrim {
    width: auto;
    height: 500px;
    border-radius: 55px;
    padding: 30px;
    transition: 0.2s;
}

#skyrim:hover {
    cursor: cell;
    border: solid cadetblue;
}


.call_button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    border: 3px;
    border-radius: 45px;
    font-size: 32px;
    margin: 12px;
    padding: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: flashButton 3s infinite
}

@keyframes flashButton {
    0% { background-color: #007BFF; }  /* Initial color */
    50% { background-color: #FF4500; } /* Flashing color */
    100% { background-color: #007BFF; } /* Return to initial color */
}
.call_button:hover{
    transform: scale(1.05); /* Slightly enlarge on hover */
}

div > button {
    text-align: center;
}

